body{
  margin: 0;
  
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0,0,0,0.9);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  gap: 1em;
  position: fixed; 
  top: 0;
  z-index: 999;
  width: calc(100% - 40px); 
}


.header-left{
  display: flex;
  gap: 2em;
}
  
  .gold-info {
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  
  .gold-icon {
    width: 24px;
    height: 24px;
    background-image: url("../assets/images/gold-coin-dollar-icon.svg");
    border-radius: 16px;
    background-size: cover;
    margin-right: 10px;
  }

  .health-info {
    display: flex;
    align-items: center;
    font-weight: 700;
  }

  
  .unit-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .unit-card {
    width: 100px;
    height: 100px;
    background-color: #222222;
    position: relative;
    cursor: pointer;
    transition: scale 0.3s ease; 
    z-index: 999;
  }
  
  .unit-card:hover {
    scale: 1.05;
  }
  
  .unit-card:hover .unit-info {
    display: block;
  }
  
  .unit-info {
    display: none;
    width: 100px;
    background-color: black;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    text-align: center;

    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 999;
  }
  



.health-bar-container {
  margin-left: 180px;
  width: 200px;
  height: 20px;
  background-color: rgb(232, 7, 7);
  border-radius: 5px;
  overflow: hidden; 
  margin-top: -30px;
  position: absolute;
  display: flex;
  align-items: center;
}


.health-bar {
  z-index: 999;
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}


.game-area {
  background-image: url("../assets/images/gamearea1.png");
  width: 1920px;
  height: 100vh; 
  background-repeat: no-repeat;
  position: relative; 
  z-index: 1;
  margin: auto;
  text-align: center;
  background-position: bottom;
}

.player-base, .enemy-base {
  position: absolute ;
  bottom: 0;
  width: 260px;
  height: 300px;
  margin-bottom: 87px;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  
}

.tower-slot {
  position: absolute;
  bottom: 0; 
  width: 400px; 
  height: auto; 
}

.tower-slot img {
  width: 100%; 
  height: auto; 
}

.player-base {
  left: 0;
}

.enemy-base {
  right: 0;
  transform: scaleX(-1);
}

.unit {
  width: 100px;
  height: 100px; 
  object-fit: cover; 
  position: absolute;
  bottom: 0; 
  transition: left 0.2s ease-out; 
  z-index: 999;
  margin-bottom: 115px;
}

.unit-image{
  width: 100px; /* Nastavení šířky jednotky */
  height: 100px;
  display: flex;

}

.enemy {
  transform: scaleX(-1);
}

.unit-buttons{
  gap: 1em;
}

.button-cooldown {
  pointer-events: none; /* Zamezí kliknutí */
  opacity: 0.5; /* Ztmaví tlačítko */
}

@keyframes cooldownEffect {
  from { width: 100%; }
  to { width: 0; }
}

.cooldown-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  animation: cooldownEffect 3s linear;
}


.unit-queue {
  display: flex;
  justify-content: center;
  padding: 10px;
  top: 120px;
  position: absolute;
}

.queue-item img {
  width: 50px; /* Upravte podle potřeby */
  margin: 0 5px;
}


@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.queue-item {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}



.header-left, .unit-buttons, .evolve-button {
  display: flex;
  align-items: center;
}

.evolve-button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.unit-card {
  margin-right: 10px; /* Odsazení mezi kartičkami jednotek */
  cursor: pointer;
}

.base-slot {
  width: 50px;
  height: 50px;
  background-color: #ff5a5a; /* Šedá pro demonstraci */
  position: absolute;
  top: 10px; /* Nastavte podle potřeby */
  left: 50%; /* Příklad umístění slotu */
  transform: translateX(-50%); /* Centrování slotu */
  cursor: pointer;
  transition-duration: 0.5s;
}

.base-slot:hover {
  background-color: #f01616; /* Změna barvy při najetí myší */
  scale: 1.1;

}


/* DefenseSlot.css */
.defense-container {
  position: absolute;
  z-index: 999;
  margin-left: 250px;
}


/* TowerSelectionComponent.css */
.tower-selection-menu {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Vytvoří mezery mezi jednotlivými zbraněmi */
}

.tower-option {
  padding: 10px;
  background-color: #494949; /* Světlé pozadí pro každou možnost */
  cursor: pointer;
  transition: background-color 0.3s; /* Přidává efekt přechodu pro hover */
}

.tower-option:hover {
  background-color: #383838; /* Ztmaví možnost při najetí myši */
}

.cost-overlay {
  display: flex; /* Toto zajistí, že ikona a text jsou vedle sebe */
  align-items: center; /* Vertikálně zarovná ikonu a text na stejnou úroveň */
  color: white;
  font-weight: 700;
  padding: 0 0;
}


.defense-slot {
  width: 50px; /* Example size */
  height: 50px; /* Example size */
  position: relative;
  border: 3px solid #000000; /* Just for visibility */
  cursor: pointer; /* Show click cursor on hover */
}

.hp-bar-container {
  width: 50%;
  background-color: rgb(215, 0, 0);
  height: 10px; /* Výška HP baru */
  margin-bottom: 5px; /* Odstup od obrázku jednotky */
  margin-left: 20px;
  border-radius: 10px;
}

.hp-bar {
  border-radius: 10px;
  height: 100%;
  background-color: #4CAF50; /* Zelená barva znamená zdraví */
}



/*MENU*/
.menu {
  position: relative;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
  padding: 20px;
}

.menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/src/assets/images/gamearea1.png") no-repeat center center / cover;
  z-index: -1;
  filter: blur(8px);
}

/* Main card style */
.menu .card {
  background: rgba(0, 0, 0, 0.7); /* Dark semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  width: 80%; /* Adjust width as needed */
  max-width: 600px; /* Adjust max-width as needed */
}

.menu button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8); /* Slightly transparent white for buttons */
  border: none;
  color: black;
}

.menu button:hover {
  background: rgba(255, 255, 255, 1); /* Solid white background on hover */
}

.author, .reference {
  margin-top: 20px;
  font-size: 14px;
  color: #ccc;
}



.unit-image-scale{
  scale: 1.1;

}

.unit-image-bottom{
  padding-bottom: 6px;
}


/*EFFECTS*/

.effect {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(51, 51, 51);
  animation: moveEffect 1s ease-out forwards;
  z-index: 999;
}

@keyframes moveEffect {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(var(--translateX), var(--translateY));
  }
}
